ICT3/src/META-INF/wsdl/localhost_8080/ICT3WebApplication/ICT2WebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://server/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://server/" name="ICT2WebService">
<types>
<xsd:schema>
<xsd:import namespace="http://server/" schemaLocation="http://localhost:8080/ICT3WebApplication/ICT2WebService?xsd=1"/>
</xsd:schema>
</types>
<message name="getLongestString">
<part name="parameters" element="tns:getLongestString"/>
</message>
<message name="getLongestStringResponse">
<part name="parameters" element="tns:getLongestStringResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="safeSum">
<part name="parameters" element="tns:safeSum"/>
</message>
<message name="safeSumResponse">
<part name="parameters" element="tns:safeSumResponse"/>
</message>
<message name="getAllStringsShorterThan">
<part name="parameters" element="tns:getAllStringsShorterThan"/>
</message>
<message name="getAllStringsShorterThanResponse">
<part name="parameters" element="tns:getAllStringsShorterThanResponse"/>
</message>
<message name="addStringOnServer">
<part name="parameters" element="tns:addStringOnServer"/>
</message>
<message name="addStringOnServerResponse">
<part name="parameters" element="tns:addStringOnServerResponse"/>
</message>
<message name="testConnection">
<part name="parameters" element="tns:testConnection"/>
</message>
<message name="testConnectionResponse">
<part name="parameters" element="tns:testConnectionResponse"/>
</message>
<message name="sum">
<part name="parameters" element="tns:sum"/>
</message>
<message name="sumResponse">
<part name="parameters" element="tns:sumResponse"/>
</message>
<portType name="ICT2WebService">
<operation name="getLongestString">
<input wsam:Action="http://server/ICT2WebService/getLongestStringRequest" message="tns:getLongestString"/>
<output wsam:Action="http://server/ICT2WebService/getLongestStringResponse" message="tns:getLongestStringResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://server/ICT2WebService/getLongestString/Fault/Exception"/>
</operation>
<operation name="hello">
<input wsam:Action="http://server/ICT2WebService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://server/ICT2WebService/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="safeSum">
<input wsam:Action="http://server/ICT2WebService/safeSumRequest" message="tns:safeSum"/>
<output wsam:Action="http://server/ICT2WebService/safeSumResponse" message="tns:safeSumResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://server/ICT2WebService/safeSum/Fault/Exception"/>
</operation>
<operation name="getAllStringsShorterThan">
<input wsam:Action="http://server/ICT2WebService/getAllStringsShorterThanRequest" message="tns:getAllStringsShorterThan"/>
<output wsam:Action="http://server/ICT2WebService/getAllStringsShorterThanResponse" message="tns:getAllStringsShorterThanResponse"/>
</operation>
<operation name="addStringOnServer">
<input wsam:Action="http://server/ICT2WebService/addStringOnServerRequest" message="tns:addStringOnServer"/>
<output wsam:Action="http://server/ICT2WebService/addStringOnServerResponse" message="tns:addStringOnServerResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://server/ICT2WebService/addStringOnServer/Fault/Exception"/>
</operation>
<operation name="testConnection">
<input wsam:Action="http://server/ICT2WebService/testConnectionRequest" message="tns:testConnection"/>
<output wsam:Action="http://server/ICT2WebService/testConnectionResponse" message="tns:testConnectionResponse"/>
</operation>
<operation name="sum">
<input wsam:Action="http://server/ICT2WebService/sumRequest" message="tns:sum"/>
<output wsam:Action="http://server/ICT2WebService/sumResponse" message="tns:sumResponse"/>
</operation>
</portType>
<binding name="ICT2WebServicePortBinding" type="tns:ICT2WebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getLongestString">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="safeSum">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getAllStringsShorterThan">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addStringOnServer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="testConnection">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sum">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ICT2WebService">
<port name="ICT2WebServicePort" binding="tns:ICT2WebServicePortBinding">
<soap:address location="http://localhost:8080/ICT3WebApplication/ICT2WebService"/>
</port>
</service>
</definitions>